<div class="dashboard-layout">
  <app-sidebar></app-sidebar>

  <main class="main-content">
    <header style="margin-bottom: 3rem;">
      <h2 style="font-size: 2rem; font-weight: 800;">Bienvenido </h2>
      <p style="color: var(--text-muted);">{{ (user$ | async)?.email }}</p>
    </header>

    <div class="stats-grid">
      <div class="stat-card">
        <p style="font-size: 0.75rem; color: var(--text-muted); font-weight: 700; text-transform: uppercase;">Estado</p>
        <p style="font-size: 1.5rem; font-weight: 800;">Conectado </p>
      </div>
      <div class="stat-card" style="border-color: #10b981;">
        <p style="font-size: 0.75rem; color: var(--text-muted); font-weight: 700; text-transform: uppercase;">Rol</p>
        <p style="font-size: 1.5rem; font-weight: 800;">{{ (role$ | async) === 'admin' ? 'Administrador' : 'Doctor' }}</p>
      </div>
      
      
      <div class="stat-card" *ngIf="(role$ | async) === 'doctor' && doctorProfile" style="border-color: #6366f1; background: linear-gradient(to right, #eef2ff, #fff);">
        <p style="font-size: 0.75rem; color: #4338ca; font-weight: 800; text-transform: uppercase;">Mi Código Vinculante</p>
        <p style="font-size: 1.75rem; font-weight: 900; font-family: monospace; color: #4f46e5; margin-top: 0.25rem; letter-spacing: 2px;">
          {{ doctorProfile.doctor_code }}
        </p>
        <p style="font-size: 0.75rem; color: var(--text-muted); margin-top: 0.5rem;">Comparte este código con tus pacientes en consulta.</p>
      </div>
    </div>
  </main>
</div>
